/* font converted using font-converter.net. thank you! */
@font-face {
    font-family: "Brady Bunch";
    src: url("../fonts/BradBunR.eot"); /* IE9 Compat Modes */
    src: url("../fonts/BradBunR.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("../fonts/BradBunR.otf") format("opentype"), /* Open Type Font */
      url("../fonts/BradBunR.svg") format("svg"), /* Legacy iOS */
      url("../fonts/BradBunR.ttf") format("truetype"), /* Safari, Android, iOS */
      url("../fonts/BradBunR.woff") format("woff"), /* Modern Browsers */
      url("../fonts/BradBunR.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

@import url("https://use.typekit.net/ial8gxh.css");